body {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
.feedback-form {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: auto;
  margin: 0 auto;
}
.label-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  text-align: left;
  /* justify-content: center; */
  /* font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px; */
  /* justify-content: flex-start; */
}
.text-field {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-field:hover {
  border-color: black;
}
.text-field:focus {
  outline: none;
}
.text-field::placeholder {
  color: transparent;
}
.text-field:focus::placeholder {
  color: #808080;
}
.button {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 95px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.button:hover,
.button:focus {
  background: #6c8cff;
}
