* {
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  overflow: hidden;
  list-style: none;
  /* padding: 24px; */
  margin: 0 auto;
  max-width: 1440px;
  gap: 24px 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  box-shadow: none;
  position: relative;
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}
